@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 25.5%;
    --primary: 169 100% 30%;
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-33.333333%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }
}

